# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
forge*CREDITS.txt
forge*fields.csv
forge*LICENSE.txt
forge*methods.csv
forge*params.csv
